<?xml version="1.0"?>
<robot name="kuka_kr10" xmlns:xacro="http://wiki.ros.org/xacro">
    <!-- TODO: OZ edited -->
    <xacro:include filename="$(find kuka_kr10_description)/urdf/kr10r1100sixx_macro.xacro"/>
    <xacro:arg name="initial_positions_file" default="$(find kuka_kr10_description)/config/initial_positions.yaml"/>
    <xacro:arg name="prefix" default=""/>
    <xacro:arg name="name" default="kuka_control"/>
    <xacro:arg name="driver_version" default="eki_rsi"/>
    <xacro:arg name="controller_ip" default="10.181.116.41"/>
    <xacro:arg name="client_ip" default=""/>
    <xacro:arg name="client_port" default="59152"/>
    <xacro:arg name="mxa_client_port" default="44444"/>
    <xacro:arg name="mode" default="mock"/>
    <xacro:arg name="use_gpio" default="false"/>
    <xacro:arg name="roundtrip_time" default="0"/>
    <xacro:arg name="verify_robot_model" default="False"/>
    <xacro:arg name="scheduling_policy" default=""/>
    <xacro:arg name="thread_priority" default="30"/>
    <xacro:arg name="cpu_affinity" default="[2,3]"/>
    <xacro:kuka_kr10r1100sixx prefix="$(arg prefix)"
                              name="$(arg name)"
                              gpio_config="$(arg gpio_config)"
                              initial_positions_file="$(arg initial_positions_file)"
                              driver_version="$(arg driver_version)"
                              controller_ip="$(arg controller_ip)"
                              client_ip="$(arg client_ip)"
                              client_port="$(arg client_port)"
                              mxa_client_port="$(arg mxa_client_port)"
                              mode="$(arg mode)"
                              use_gpio="$(arg use_gpio)"
                              roundtrip_time="$(arg roundtrip_time)"
                              verify_robot_model="$(arg verify_robot_model)"
                              scheduling_policy="$(arg scheduling_policy)"
                              thread_priority="$(arg thread_priority)"
                              cpu_affinity="$(arg cpu_affinity)">
        <ext_axes_ros2_control_joints/>
    </xacro:kuka_kr10r1100sixx>

</robot>
